<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <article class="event-card">
    <SlpRow>
      <SlpColumn :cols="8" size="md">
        <SlpTypography
          tag="h3"
          variant="heading4-bold"
          class="slp-text-align-left slp-mb-16"
          >{{ data.topic }}</SlpTypography
        >
        <SlpTypography
          tag="p"
          variant="body2-bold"
          class="slp-text-align-left slp-mb-8"
          >{{ data.type }}</SlpTypography
        >
        <div
          class="slp-text-align-left event-card__description"
          v-html="$md.render(data.description)"
        ></div>
      </SlpColumn>
      <SlpColumn :cols="1" size="md"></SlpColumn>
      <SlpColumn :cols="3" size="md" class="event-card__dates">
        <SlpTypography
          tag="h3"
          variant="heading5-bold"
          class="event-card__right"
          >{{ data.date_starts }}
        </SlpTypography>
        <SlpTypography
          v-if="data.date_starts != data.date_ends"
          tag="h3"
          variant="heading5-bold"
          class="event-card__right"
        >
          - {{ data.date_ends }}
        </SlpTypography>
        <SlpTypography tag="p" variant="p" class="event-card__right slp-my-16"
          >{{ data.location }}, {{ data.region }}
        </SlpTypography>
        <div
          v-if="data.social_tags"
          class="event-card__right event-card__social-tag slp-my-16"
        >
          <SlpTypography
            v-for="tag in data.social_tags"
            :key="tag"
            tag="p"
            variant="all-caps"
            >#{{ tag }}</SlpTypography
          >
        </div>
      </SlpColumn>
    </SlpRow>
    <SlpRow class="slp-mt-16 event-card__button">
      <SlpButton :href="data.event_url">Join Us!</SlpButton>
    </SlpRow>
  </article>
</template>

<style lang="scss" scoped>
.event-card {
  display: block;
  background: $color-surface-50;
  border-radius: $spacing-4;
  width: 100%;
  margin: $spacing-16 0;
  padding: $spacing-48;
  color: $color-text-300;
  border: 1px solid $color-surface-200;
  box-shadow: $shadow-surface-primary-1;

  &__button {
    justify-content: end;
  }

  &__right {
    text-align: right;
  }

  &__social-tag {
    color: $color-text-200;
    font-style: italic;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  &__dates {
    @media (max-width: $breakpoint-sm) {
      width: 100%;
      margin-top: $spacing-8;
    }
  }
}
</style>
