<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index';
import {
  KubeconHero,
  KubeconIntro,
  KubeconSection,
  KubeconLightingTalk,
  KubeconSpeakers,
  KubeconSchedule,
  KubeconCareers,
  KubeconConduct,
} from '../../components/events/kubecon/index';

export default Vue.extend({
  components: {
    KubeconHero,
    KubeconIntro,
    KubeconSection,
    KubeconLightingTalk,
    KubeconSpeakers,
    KubeconSchedule,
    KubeconCareers,
    KubeconConduct,
    NextStep,
  },
  async asyncData({ $content, params }: any) {
    const content = await $content('events/kubecon', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <KubeconHero :data="content.hero" />
    <KubeconIntro :data="content.intro" />
    <KubeconSection class="slp-pb-32" :data="content.gitlab_booth" />
    <KubeconLightingTalk :data="content.featured_lighting_talks" />
    <KubeconSection class="slp-my-96" :data="content.gitlab_activation_zone" />
    <KubeconSpeakers :data="content.speakers_block" />
    <KubeconSection
      :data="content.party"
      :has-gradient="true"
      class="slp-py-160"
    />
    <KubeconSchedule :data="content.schedule" />
    <KubeconCareers :data="content.careers" />
    <KubeconConduct :data="content.code_of_conduct" />
    <NextStep />
  </div>
</template>
