<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturesCategories',
  props: {
    features: {
      type: Array,
      required: true,
      default: () => [],
    },
    tabTitle: {
      type: String,
      required: true,
      default: '',
    },
  },
});
</script>

<template>
  <div class="feature-categories">
    <ul class="feature-categories__list">
      <li
        v-for="category of features"
        v-show="category.features.length"
        :key="category.slug"
        class="feature-categories__item"
      >
        <SlpIcon
          name="arrow-down"
          class="slp-mr-16"
          variant="product"
          alt="Check icon"
          size="sm"
        />

        <SlpTypography tag="span" variant="body2-bold">
          <a
            :href="`#${category.slug}`"
            :data-ga-features="tabTitle"
            :data-ga-features-sub="category.name.toLowerCase()"
            data-ga-location="features sub-section"
            >{{ category.name }}</a
          >
        </SlpTypography>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
.feature-categories {
  &__list {
    @media (min-width: $breakpoint-md) {
      column-count: 2;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    margin-bottom: $spacing-8;
  }
}
</style>
