<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconCareers',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="kubecon-careers">
    <SlpContainer>
      <SlpRow class="slp-my-96 kubecon-careers__container" style="gap: 48px">
        <SlpColumn :cols="6" style="flex: initial">
          <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-16">
            {{ data.title }}
          </SlpTypography>
          <SlpTypography variant="heading5-bold" tag="p" class="slp-pb-16">
            {{ data.subheading }}
          </SlpTypography>
          <div
            class="slp-pb-36 slp-flex"
            style="gap: 16px; flex-direction: column"
            v-html="$md.render(data.description)"
          />
          <SlpButton
            v-if="data.call_to_action"
            :href="data.call_to_action.button_link"
            variant="primary"
            class="slp-mt-32"
            >{{ data.call_to_action.button_text }}</SlpButton
          >
        </SlpColumn>
        <SlpColumn :cols="6" style="flex: initial">
          <div class="kubecon-careers__job-posts">
            <a
              v-for="(post, index) in data.careers_list"
              :key="index"
              :href="post.link"
              class="slp-flex kubecon-careers__post slp-pl-8"
            >
              <img src="/nuxt-images/icons/kubecon/user.svg" />
              <SlpTypography variant="body2" tag="p" class="slp-py-16 slp-px-8">
                {{ post.title }}, {{ post.team }} ({{ post.region }})
              </SlpTypography>
            </a>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.kubecon-careers {
  background: #f6f3fe;

  &__container {
    gap: 48px;
    flex-wrap: nowrap;

    @media screen and (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
    }
  }

  &__job-posts {
    background: #fff;
    color: #7759c2;
    border-radius: 0px 0px 90px 0px;
    padding: 56px 36px;
  }

  &__post:hover {
    background: #f6f3fe;
  }
}
</style>
